.button {
  &--default {
    display: inline-block;
    font-family: $font-additional;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-primary;
    border: none;

    &:hover {
      background-color: $color-primary-dark;
    }

    &:active {
      color: rgba($color-white, 0.3);
      background-color: $color-primary-dark;
    }
  }

  &--direction {
    position: relative;
    display: inline-block;
    padding-right: 40px;
    font-family: $font-additional;
    color: $color-black;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 43%;
      right: 0;
      transform: translate(-3px, -50%);
      width: 22px;
      height: 2px;
      background-color: $color-black;
    }

    &::before {
      content: "";
      position: absolute;
      top: 43%;
      right: 0;
      transform: translate(-4px, -50%) rotate(45deg);
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-top: 4px solid $color-black;
      border-right: 4px solid $color-black;
    }

    &:active {
      opacity: 0.3;
    }

    &:hover {
      padding-right: 58px;

      &::after {
        width: 30px;
      }
    }

    @media (min-width: $tablet) {
      padding-right: 49px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop) {
      padding-right: 52px;
    }
  }

  &--light {
    display: inline-block;
    padding: 13px 20px 10px;
    font-family: $font-additional;
    color: $color-tertiary;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-secondary-light;

    &:hover {
      background-color: $color-secondary;
    }

    &:active {
      color: rgba($color-tertiary, 0.3);
      background-color: $color-secondary;
    }

    @media (min-width: $tablet) {
      padding: 14px;
    }
  }
}
