.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $color-tertiary;
  font-size: 16px;
  line-height: 18.4px;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &:hover {
    .copyright__logo {
      color: $color-primary;
    }
  }
}

.copyright__logo {
  display: block;
  color: $color-tertiary-light;
}
