.main-catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.main-catalog__title {
  font-family: $font-additional;
  color: $color-black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-catalog__item {
  background-color: $color-secondary-light;
}

.main-catalog__description {
  border-bottom: 1px solid $color-tertiary-extra-light;
}
