.main-catalog {
  padding: 22px 0;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 82px;
  }
}

.main-catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.main-catalog__item {
  padding: 30px 20px 18px;
  background-color: $color-secondary-light;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 372px;
    padding: 77px 53px 60px;
  }

  @media (min-width: $desktop) {
    min-height: 374px;
    padding-bottom: 63px;
  }

  &--slim {
    background-image: url("../img/index/icon/icon-cat-slim.svg");
    background-position: 22px 21px;

    .main-catalog__description {
      @media (min-width: $tablet) {
        margin-right: 225px;
      }

      @media (min-width: $desktop) {
        margin-right: 0;
      }
    }

    @media (min-width: $tablet) {
      background-size: 200px;
      background-position: calc(100% - 62px) calc(50% + 2px);
    }

    @media (min-width: $desktop) {
      background-size: 100px;
      background-position: 52px 41px;
    }
  }

  &--pro {
    background-image: url("../img/index/icon/icon-cat-pro.svg");
    background-position: 13px 24px;

    .main-catalog__description {
      @media (min-width: $tablet) {
        margin-right: 260px;
      }

      @media (min-width: $desktop) {
        margin-right: 0;
      }
    }

    @media (min-width: $tablet) {
      background-size: 268px;
      background-position: calc(100% - 28px) calc(50% + 6px);
    }

    @media (min-width: $desktop) {
      background-size: 134px;
      background-position: 34px 46px;
    }
  }
}

.main-catalog__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 71px;

  font-family: $font-additional;
  color: $color-black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 161px;
  }
}

.main-catalog__description {
  position: relative;
  margin-top: 29px;
  margin-bottom: 0;
  padding-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-tertiary-extra-light;
  }

  @media (min-width: $tablet) {
    //max-width: calc(100% - 225px);
    margin-top: 26px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 75px;
  }
}

.main-catalog__button {
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}
