.main-header {
  position: relative;
  font-family: $font-additional;
  color: $color-white;

  background-image: url("../img/index/index-background/index-background-mobile.jpg"), linear-gradient($color-main-slider, $color-main-slider);
  background-size: auto calc(100% - 178px), 100% calc(100% - 178px);
  background-position: top;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/index-background/index-background-mobile@2x.jpg"), linear-gradient($color-main-slider, $color-main-slider);
  }

  @media (min-width: $tablet) {
    color: $color-black;
    background-image: none;
  }

  @media (min-width: $desktop) {
    background-image: url("../img/index/index-background/index-background-desktop.jpg"), linear-gradient($color-main-slider, $color-main-slider);
    background-size: 50%;
    background-position: right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/index-background/index-background-desktop@2x.jpg"), linear-gradient($color-main-slider, $color-main-slider);
    }
  }
}

.main-header__wrapper {
  padding-top: 27px;
  text-align: center;

  @media (min-width: $tablet) {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 525px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 694px;
    padding-top: 37px;
    padding-bottom: 0;
  }
}

.main-header__container {
  @media (min-width: $tablet) {
    max-width: 534px;
    width: 100%;
    margin: 0 auto;

    &--button {
      padding-top: 48px;
    }
  }

  @media (min-width: $desktop) {
    max-width: 1060px;
    padding-right: 600px;

    &--button {
      padding-top: 52px;
    }
  }
}

.main-header__title {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-header__slogan {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-top: 17px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 15px;
  }
}

.main-header__button {
  width: 100%;
  margin-top: 5px;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: auto;
    margin: 0 auto;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
    transform: translateX(-5px);
  }

  @media (min-width: $desktop) {
    transform: none;
  }
}

.main-header__image {
  display: block;
  width: 100%;
  margin-top: 27px;

  @media (min-width: $tablet) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: $tablet - 60px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    left: 16%;
    bottom: 50%;
    transform: translateY(59%);
    width: auto;
    max-height: 499px;
  }
}
