.map {
  position: relative;

  &--main {
    .map__wrapper {
      background-color: $color-white;

      @media (min-width: $desktop) {
        background-color: transparent;
      }
    }

    .map__card {
      @media (min-width: $desktop) {
        background-color: $color-white;
      }
    }
  }

  &--inner {
    .map__card {
      @media (min-width: $desktop) {
        background-color: $color-white;
      }
    }
  }
}

.map__wrapper {
  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: $desktop - 110px * 2;
    margin: 0 auto;
  }
}

.map__card {
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-52%);
    width: 570px;
  }
}

.map__container {
  position: relative;
  height: 362px;
  background-color: $color-map;
  overflow: hidden;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.map__image,
.map__object {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
