.page {
  font-family: $font-base;
  color: $color-tertiary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: $mobile;
  min-height: 100vh;
}
