.page-header {
  &--main {
    @media (min-width: $desktop) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;

      .nav__item {
        color: $color-white;

        &--current {
          border-color: $color-white;
        }
      }
    }
  }
}

.page-header__wrapper {
  min-height: 66px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: $tablet;
    margin: 0 auto;
    padding: 24px 30px;
  }

  @media (min-width: $desktop) {
    align-items: flex-start;
    width: $desktop;
    padding: 53px 110px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $mobile;
  margin: 0 auto;
  padding: 11px 20px 17px;

  @media (min-width: $tablet) {
    flex-shrink: 0;
    width: auto;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.page-header__image {
  display: block;
  max-height: 38px;
  width: auto;

  @media (min-width: $tablet) {
    max-height: 52px;
  }

  @media (min-width: $tablet) {
    max-height: 59px;
  }
}

.page-header__menu-toggle {
  position: relative;
  display: none;
  flex-shrink: 0;

  background-color: transparent;
  border: none;

  &--loaded {
    display: block;
    width: 24px;
    height: 2px;

    background-color: $color-black;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;

      background-color: $color-black;
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  &--close {
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    padding: 0;

    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;

      background-color: $color-black;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__nav {
  flex-basis: 100%;

  &--loaded {
    display: none;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
    margin-top: 5px;
  }
}
