.product-more__title {
  font-family: $font-additional;
  color: $color-tertiary-extra-dark;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-more__text {
  font-size: 12px;
  line-height: 16px;
}
