.product-catalog__list {
  @include listReset();
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  margin: 0;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 59px 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
