.slider {
  @media (min-width: $tablet) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.slider__list {
  @include listReset();
}

.slider__item {
  &--overlay {
    position: absolute;
    top: 0;
  }
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__button-arrow {
  font-family: $font-additional;
  color: $color-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid rgba($color-black, 0.4);
  }

  &:active {
    border-bottom: 1px solid transparent;
  }
}
