.slider {
  @media (min-width: $tablet) {
    position: relative;
    padding-bottom: 33px;
    background-image: linear-gradient($color-secondary-extra-light, $color-secondary-extra-light);
    background-size: 100% calc(100% - 250px);
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop) {
    background-image: none;
  }
}

.slider__list {
  @include listReset();
  position: relative;
  height: 250px;
  margin: 0;

  @media (min-width: $tablet) {
    width: 708px;
    height: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 656px;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &--before {
    left: 0;
    right: auto;
    height: 100%;

    @media (min-width: $tablet) {
      .slider__container {
        right: auto;
      }
    }

    @media (min-width: $desktop) {
      .slider__container {
        left: -24px;
      }
    }
  }

  &--after {
    left: auto;
    right: 0;
    display: none;

    @media (min-width: $tablet) {
      width: 50%;
      display: block;
      background-color: $color-white;
      background-image: linear-gradient(0deg, $color-secondary-extra-light, $color-secondary-extra-light);
      background-repeat: no-repeat;
      background-size: auto calc(100% - 191px);
      background-position: bottom;

      .slider__container {
        left: auto;
      }
    }

    @media (min-width: $desktop) {
      background-size: auto calc(100% - 194px);

      .slider__container {
        right: 21px;
      }
    }
  }
}

.slider__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: $mobile;
  height: 100%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    top: 16px;
    width: 708px;
    height: calc(100% - 97px);
  }

  @media (min-width: $desktop) {
    top: 0;
    width: 690px;
    height: calc(100% - 130px);
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $mobile;
  margin: 0 auto;
  padding: 16px 45px 0;

  @media (min-width: $tablet) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 67px;
    max-width: $tablet;
    padding: 0 82px;
  }

  @media (min-width: $desktop) {
    margin: 0 44px 0 43px;
    padding: 0;
  }
}

.slider__button-arrow {
  display: inline-block;
  margin: 0 17px;
  padding: 7px 0 6px;
  font-family: $font-additional;
  color: $color-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid rgba($color-black, 0.4);
  }

  &:active {
    border-bottom: 1px solid transparent;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted rgba($color-black, 0.424);
  }
}

.slider__progress {
  flex-grow: 1;
  margin: 0;
  padding: 3px 6px;
  background-color: $color-white;
  border: 1px solid $color-secondary-dark;
  border-radius: 7px;

  @media (min-width: $tablet) {
    position: relative;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    border: none;
    background-color: $color-progress;
  }

  @media (min-width: $desktop) {
    margin: 0 1px 0 7px;
  }
}

.slider__button-dot {
  display: block;
  width: 50%;
  height: 6px;
  background-color: $color-primary;
  border: none;
  border-radius: inherit;
  pointer-events: none;

  @media (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    border: 1px solid $color-secondary-dark;
    border-radius: 100%;
    background-color: $color-white;
    box-shadow: 0 1px 3px rgba($color-black, 0.16);
    pointer-events: auto;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $color-primary;
    }

    &:hover {
      box-shadow: 0 2px 4px rgba($color-black, 0.19);
    }

    &:active {
      border-color: $color-primary;
      box-shadow: 0 3px 5px rgba($color-black, 0.2);
    }
  }
}
