.socials-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  @media (min-width: $tablet) {
    padding: 0 10px 0 40px;
  }
}

.socials-list__item {
  &:not(:first-of-type) {
    margin-left: 33px;
  }

  @media (min-width: $tablet) {
    &:not(:first-of-type) {
      margin-left: 24px;
    }
  }
}

.socials-list__link {
  display: block;
  color: $color-tertiary-light;

  &:hover {
    color: $color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials-list__icon {
  display: block;

  @media (min-width: $tablet) {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 30px;
      height: 34px;
    }
  }
}
