.title {
  font-family: $font-additional;
  color: $color-black;

  &--primary {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    @media (min-width: $tablet) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--line {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }

    .title__text {
      display: inline-block;
      margin: 0;
      padding: 0 22px;
      font-size: 24px;
      font-weight: 400;
      background-color: $color-white;
      transform: translateX(-22px);
    }

    @media (min-width: $tablet) {
      &::after {
        top: 20px;
      }

      .title__text {
        //padding-left: 37px;
        //padding-right: 36px;
        padding-left: 39px;
        padding-right: 39px;
        font-size: 36px;
        transform: none;
      }
    }

    @media (min-width: $desktop) {
      /*&::after {
        top: 23px;
      }*/

      .title__text {
        padding-left: 40px;
        padding-right: 35px;
        transform: translateX(-40px);
      }
    }
  }
}
