/* COLORS */

$color-primary: #68b738;
$color-primary-dark: #5eaa2f;
$color-secondary-dark: #cdcdcd;
$color-secondary-darker: #e7e7e7;
$color-secondary: #ebebeb;
$color-secondary-light: #f2f2f2;
$color-secondary-extra-light: #eaeaea;
$color-tertiary-extra-dark: #111111;
$color-tertiary-dark: #222222;
$color-tertiary: #444444;
$color-tertiary-light: #666666;
$color-tertiary-extra-light: #d9d9d9;
$color-error: #ff8282;

$color-white: #ffffff;
$color-black: #000000;

/* BREAK POINTS */

$max-desktop: 1980px;
$max-tablet: 1024px;
$max-mobile: 767px;

$min-mobile: 320px;
$min-tablet: 768px;
$min-desktop: 1025px;

/* FONTS */

$font-base: "Arial", sans-serif;
$font-additional: "Oswald", "Arial", sans-serif;
