/* GLOBALS */

@import "globals/normalize";
@import "globals/fonts";
@import "globals/settings";

/* BLOCKS */

@import "blocks/visually-hidden";
@import "blocks/page";
@import "blocks/nav";
@import "blocks/title";
@import "blocks/button";
@import "blocks/map";
@import "blocks/main-header";
@import "blocks/main-catalog";
@import "blocks/main-advantages";
@import "blocks/main-example";
@import "blocks/card-address";
@import "blocks/page-footer";
@import "blocks/copyright";
@import "blocks/product-card";
@import "blocks/product-more";
@import "blocks/additional-product-card";
@import "blocks/order-content";
@import "blocks/form";
